.grid-container-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 60%;
}

.project-item-icons {
    width: 70px;
    height: 70px;
    border: none;
    margin: 4%;
}