.grid-container-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-left: auto;
    text-align: center;
}

.project-item-icons {
    width: 70px;
    height: 70px;
    border: none;
}