.about-text {
    border: none;
    padding: 10px;
    width: 95%;
    text-align: justify;
}
.linha-verde {
    border: none;
    height: 1px;
    background-color: green;
    margin: 5px 5px;
    width: 90%;
}
