.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 20% 0%
}

.text-name {
    width: 400px;
}

@media (max-width: 650px) {
    .container {
      flex-direction: column; /* Altera a direção do flex para uma coluna */
      align-items: flex-start; /* Alinha os itens à esquerda */
      justify-content: center; /* Centraliza verticalmente os itens */
      margin: 0% 3% 0%
    }
    .img-me {
        margin: 8% 6% 0%
    }
}