.img-me {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-me img {
    width: 100%;
    border-radius: 10%;
  }

  .img-me p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .img-me p > * {
    margin: 1px; /* Ajuste a margem conforme necessário */
  }